<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="file" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="DatePattern" value="_dd-MM-yyyy" />
		<param name="Threshold" value="DEBUG" />
		<param name="file"
			value="./target/roman-numerals/roman-numerals.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd-MM-yyyy HH:mm:ss} | %-5p | %l | %m%n" />
		</layout>
	</appender>
	
	<logger name="com.eyo" additivity="true">
		<level value="debug" />
		<appender-ref ref="file" />
	</logger>
	
	<!-- Root Logger -->
	<root>
		<priority value="error" />
		<appender-ref ref="file" />
	</root>

</log4j:configuration>